.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 50px;
}

.hidden-word p {
  color: #ff4500;
  font-size: 1.5rem;
}

.hidden-word p:empty {
  display: none;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 50px;
}

.timer {
  margin-top: 20px;
}

.time-display {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
